
/*for About Me section in index*/
.info {
  padding: 10px;
  position: absolute;
  bottom: 0;
  background-color: #d7dbe8;
  border: Solid #858996;
}

body.projects {
  background-color: black;
  color: green;
}

a.projects {
  color: #10511c;
}

.Profile {
  text-align:center;
}
/* Only affects index at the moment*/
.epicodus {
  float: right;
}

h1 {
  text-align: center;
  background-color: #8bb6f9;
  padding: 5px;
  border: 5px solid #26397c;
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 20px;
}

.projects {
  text-align: center;
}

img {
  padding: 1px;
  border: 1px solid black;
}

/*Index background only*/
body.index {
  background-size: contain;
  background-repeat:no-repeat;
}

/*Span for coding languages*/
.code {
  font-weight: bold;
  font-variant: small-caps;
  color: green;
  font-size: 25px;
}

a {
  color: darkblue;
  text-decoration: underline;
}

.col-md-4 {
  font-size: 30px;
}

.col-md-5 {
  font-size: 30px;
}

.col-md-7 {
  font-size: 30px;
}

.col-md-8 {
  font-size: 30px;
  text-align: right;
  list-style-position: inside;
}
