.about {
  width: 33%;
  padding: 10px;
  margin-left: 15px;
  margin-top: 5px;
  background-color: #c8f799;
  border: Solid #a6d378;
}

.info {
  padding: 10px;
  margin-left: 15px;
  margin-top: 5px;
  background-color: #d7dbe8;
  border: Solid #858996;
}

.Profile {
  margin-left: 15px;
}

h1 {
  text-align: center;
  background-color: #8bb6f9;
  padding: 5px;
  border: 5px solid #26397c;
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 20px;
}

.projects {
  float: right;
  width: 405px;
  height: 537px;
  padding: 10px;
  margin-right: 5px;
  background-color: lightblue;
  border-style: Solid;
}

.bozeman {
  float: right;
  border-style: solid;
  padding: 1px;
  margin-right: 5px;
}

img {
  padding: 1px;
  border: 1px solid black;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
}

.code {
  font-weight: bold;
  font-variant: small-caps;
  color: black;
  font-size: 12px;
}
